numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.0
scipy==1.13.1
joblib==1.4.2
xgboost==1.7.6
lightgbm==4.0.0

fastapi==0.111.0
uvicorn==0.30.1
python-multipart==0.0.9
pydantic==2.7.3
pydantic-settings==2.3.1
orjson==3.10.4

streamlit==1.21.0
yfinance==0.2.9
requests==2.32.3

dvc==3.51.2
dvc-http==2.32.0

python-dotenv==1.0.1
PyYAML==6.0.1
tqdm==4.66.4
typing_extensions==4.8.0
